com.example.oleg.controller.IFacade=com.example.oleg.controller.Facade
com.example.oleg.controller.iservice.IGuestService=com.example.oleg.controller.GuestsService
com.example.oleg.controller.iservice.IRoomSrvice=com.example.oleg.controller.RoomsService
com.example.oleg.controller.iservice.IOptionService=com.example.oleg.controller.OptionsService
com.example.oleg.controller.iservice.IOrderService=com.example.oleg.controller.OrderService
com.example.oleg.prop.PropInit = com.example.oleg.prop.PropInit