com.example.oleg.controller.IFacade=com.example.oleg.controller.Facade
com.example.oleg.controller.iservice.IGuestService=com.example.oleg.controller.GuestService
com.example.oleg.controller.iservice.IRoomSrvice=com.example.oleg.controller.RoomsService
com.example.oleg.controller.iservice.IOptionService=com.example.oleg.controller.OptionService
com.example.oleg.controller.iservice.IOrderService=com.example.oleg.controller.OrderService